/* :root,
[data-theme="light"] {
  --a-bg: var(--white);
  --a-text: var(--grey-900);
  --a-text-muted: var(--grey-600);
  --a-decor-1: #ffe6e6;
  --a-surface: var(--white);
} */

[data-theme="dark"] {
  --a-bg: var(--grey-900);
  --a-text: var(--white);
  --a-text-muted: var(--grey-400);
  --a-surface: var(--grey-900);
}

:root,
[data-theme="minside"] {
  --a-bg: var(--white);

  --a-text: var(--grey-900);
  --a-text-muted: var(--grey-600);

  --a-surface: var(--white);
  --a-surface-hover: rgba(10, 41, 87, 0.03);
  --a-surface-subdued: #f9fafb;

  --a-surface-danger-subdued: #f9d2cc;

  --a-surface-warning-subdued: #ffeccc;
  --a-icon-warning: #c77300;

  --a-surface-info-subdued: #d8f9ff;
  --a-icon-info: #368da8;

  --a-surface-neutral-subdued: #f3f4f6;
  --a-surface-neutral-subdued-hover: #e5e7eb;
  --a-surface-neutral-moderate: #d1d5db;

  --a-surface-success-subdued: #ccf1d6;
  --a-surface-success-moderate: #99dead;
  --a-icon-success: #06893a;

  --a-icon-default: #1f2937;

  --a-surface-decorative-1: #cce2f0;
  --a-data-blue-subtle: #66a3c4;
  --a-data-blue-moderate: #005b82;

  --a-border-subtle: rgba(33, 33, 33, 0.1);
}
