[data-theme-v1="dark"] {
  --a-surface: #1f2937;
  --a-surface-hover: rgba(0, 0, 0, 0.2);
  --a-surface-subdued: #111827;

  --a-text: #ffffff;
  --a-text-muted: rgba(156, 163, 175, 1);

  --a-surface-danger-subdued: #ce5441;

  --a-surface-warning-subdued: #c77300;
  --a-icon-warning: #ffeccc;

  --a-surface-info-subdued: #368da8;
  --a-icon-info: #d8f9ff;

  --a-surface-neutral-subdued: #374151;
  --a-surface-neutral-subdued-hover: rgba(0, 0, 0, 0.2);
  --a-surface-neutral-moderate: #1f2937;

  --a-surface-success-subdued: #06893a;
  --a-surface-success-moderate: #99dead;
  --a-icon-success: #ccf1d6;

  --a-icon-default: #ffffff;

  --a-data-blue-subtle: #cce2f0;
  --a-data-blue-moderate: #66a3c4;

  --a-border-subtle: rgba(255, 255, 255, 0.2);
  --a-surface-decorative-cold: #003453;
  --a-surface-decorative-warm: hsla(357, 99.6%, 60.3%, 0.237);
  --a-surface-decorative-positive: hsla(158, 98.6%, 60.7%, 0.14);
}

[data-theme-v1="minside"] {
  --a-text: #1f2937;
  --a-text-muted: rgba(107, 114, 128, 1);

  --a-surface: #ffffff;
  --a-surface-hover: rgba(10, 41, 87, 0.03);
  --a-surface-subdued: #f9fafb;

  --a-surface-danger-subdued: #f9d2cc;

  --a-surface-warning-subdued: #ffeccc;
  --a-icon-warning: #c77300;

  --a-surface-info-subdued: #d8f9ff;
  --a-icon-info: #368da8;

  --a-surface-neutral-subdued: #f3f4f6;
  --a-surface-neutral-subdued-hover: #e5e7eb;
  --a-surface-neutral-moderate: #d1d5db;

  --a-surface-success-subdued: #ccf1d6;
  --a-surface-success-moderate: #99dead;
  --a-icon-success: #06893a;

  --a-icon-default: #1f2937;

  --a-data-blue-subtle: #66a3c4;
  --a-data-blue-moderate: #005b82;

  --a-border-subtle: rgba(33, 33, 33, 0.1);

  --a-surface-decorative-cold: #cce2f0;
  --a-surface-decorative-warm: #fde6e6;
  --a-surface-decorative-positive: #ccf1d6;
}

[data-theme-v2="minside"] {
  --a-text: var(--n-gray-900);
  --a-text-muted: var(--n-gray-600);

  --a-surface: var(--n-white);
  --a-surface-hover: var(--n-gray-50);
  --a-surface-subdued: var(--n-gray-50);

  --a-surface-danger-subdued: var(--n-red-100);

  --a-surface-warning-subdued: var(--n-orange-100);
  --a-icon-warning: var(--n-orange-600);

  --a-surface-info-subdued: var(--n-lightblue-100);
  --a-icon-info: var(--n-lightblue-600);

  --a-surface-neutral-subdued: var(--n-gray-100);
  --a-surface-neutral-subdued-hover: var(--n-gray-200);
  --a-surface-neutral-moderate: var(--n-gray-300);

  --a-surface-success-subdued: var(--n-green-100);
  --a-surface-success-moderate: var(--n-green-200);
  --a-icon-success: var(--n-green-600);

  --a-icon-default: var(--n-gray-900);

  --a-data-blue-subtle: var(--n-deepblue-300);
  --a-data-blue-moderate: var(--n-deepblue-600);

  --a-border-subtle: var(--n-gray-300);

  --a-surface-decorative-cold: var(--n-deepblue-50);
  --a-surface-decorative-warm: var(--n-red-50);
  --a-surface-decorative-positive: var(--n-green-50);
}

[data-theme-v2="dark"] {
  --a-text: var(--n-white);
  --a-text-muted: var(--n-gray-300);

  --a-surface: var(--n-gray-900);
  --a-surface-hover: var(--n-gray-800);
  --a-surface-subdued: var(--n-gray-700);

  --a-surface-danger-subdued: var(--n-red-800);

  --a-surface-warning-subdued: var(--n-orange-700);
  --a-icon-warning: var(--n-orange-400);

  --a-surface-info-subdued: var(--n-lightblue-700);
  --a-icon-info: var(--n-lightblue-400);

  --a-surface-neutral-subdued: var(--n-gray-800);
  --a-surface-neutral-subdued-hover: var(--n-gray-900);
  --a-surface-neutral-moderate: var(--n-gray-900);

  --a-surface-success-subdued: var(--n-green-700);
  --a-surface-success-moderate: var(--n-green-500);
  --a-icon-success: var(--n-green-400);

  --a-icon-default: var(--n-white);

  --a-data-blue-subtle: var(--n-deepblue-400);
  --a-data-blue-moderate: var(--n-deepblue-200);

  --a-border-subtle: var(--n-gray-700);

  --a-surface-decorative-cold: var(--n-deepblue-700);
  --a-surface-decorative-warm: var(--n-red-900);
  --a-surface-decorative-positive: var(--n-green-900);
}
